# Logs
*.log
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules

# Build output
dist
dist-ssr

# Local environment files
*.local
.env
.env.local

# Editor directories and files
.DS_Store
.idea
.vscode
!.vscode/extensions.json

# Visual Studio files
*.sln
*.suo
*.ntvs*
*.njsproj

# Temporary files
*.sw?