:root {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --primary-color: #646cff;
  --primary-color-hover: #535bf2;
  --background-color: #242424;
  --background-color-light: #ffffff;
  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-light: #213547;
  --button-background-color: #1a1a1a;
  --button-background-color-light: #f9f9f9;
  --button-border-color: transparent;
  --button-border-color-hover: #646cff;
  --button-padding: 0.6em 1.2em;
  --button-font-size: 1em;
  --button-font-weight: 500;
  --button-border-radius: 8px;
  --button-cursor: pointer;
  --button-transition: border-color 0.25s;
  --button-outline: 4px auto -webkit-focus-ring-color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--text-color);
  background-color: var(--background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color-hover);
}

button {
  border-radius: var(--button-border-radius);
  border: 1px solid var(--button-border-color);
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  font-family: inherit;
  background-color: var(--button-background-color);
  cursor: var(--button-cursor);
  transition: var(--button-transition);
}

button:hover {
  border-color: var(--button-border-color-hover);
}

button:focus,
button:focus-visible {
  outline: var(--button-outline);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --button-background-color: var(--button-background-color-light);
  }

  a:hover {
    color: var(--primary-color-hover);
  }

  button {
    background-color: var(--button-background-color-light);
  }
}